html, body{
  height: 100%;
  width: 100%;
}
*{
margin: 0;
padding: 0;
}

.container{
  height: 100%;
  width: 100%;
}

.nav1{
  background-color: navy;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.box{
    text-align: center;
    border: 2px solid orange;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.nav2{
display: flex;
justify-content: space-around;
padding: 10px;
}

select{
  width: 70%;
}

input + button:hover {
  background-color: white;
  color: black;
}
input + button {
  background-color: black;
  color: white;
  margin-left: -4px;
}

main{
  margin-top: 10px;
}

section{
  display: flex;
}

img{
  width: 150px;
  height: 150px;
  padding: 20px;
}
.content{
  padding: 25px;
}

h5{
  font-weight: normal;
  padding: 5px;
}

.overview{
  padding: 5px
}

.button{
  padding: 5px
}
.continue{
  padding: 5px; 
  color: white; 
  background-color: orangered;
}

.continue:hover{
   color: black;
}

.title{
  color:mediumblue;
  padding: 5px;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .nav1 {
    width: 100%;
  }
  .nav1{
    background-color: navy;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .box{
    text-align: center;
    border: 2px solid orange;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 20%;
}
}




