.navbar{
display: flex;
align-items: center;
justify-content: center;
background-color: navy;
padding: 20px;
}
.title{
display: flex;
align-items: stretch;
background-color: white;
padding: 20px;
}
.headline{
    color: royalblue;
}

.box{
    background-color: white;
    height: 50%;
    width: 30%;  
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    display: flex;
    justify-content: left;
    align-items: center;
}

.content{
    background-color: white;
    height: 70%;
    width: 100%;  
    flex-direction: column;
    align-items: left;
    margin-top: -9px;
}
.overview{
    width: 100%;
    overflow-wrap: normal;
    margin-top: 0px;
}

.image{
    padding: 10px;
    height: 70%;
}

.continue{
    background-color: orangered;
    color: white;
    height: 30px;
    width: 10%;
}